node_modules
npm-debug.log
*Dockerfile
docker-compose.yml
.dockerignore
.git
.gitignore
.env
.env.example
.editorconfig
.eslint*
CODEOWNERS
*.md
jest.config.js
.prettierrc
dist
logs
coverage
.vscode
.github